---
title: Mobile Error
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Unavailable on your device</title>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<script src="main.js"></script>
<div class="container">
	<div id="warning_header">
		<div id="header_row">
			{% include back_arrow.html %}
			<h1> Unavailable on your device</h1>
		</div>
		<h2>Space Dodge is <b>not available</b> on mobile devices.</h2>
		<h3>Please open this page on a computer<br><br><br></h3>
		<img alt="Warning Symbol - red circle with line through it" id="warning_symbol"
		     src="https://cdn.pixabay.com/photo/2012/04/24/12/29/no-symbol-39767_1280.png">
	</div>
</div>
{% include footer.html %}
{% include startAtTop.html %}
</body>
</html>