---
title: Privacy Policy
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="styles.css">
  <script src="main.js"></script>
</head>
<body>
{% include particlesBg.html %}
{% include github.html %}
{% include hamburgerMenu.html %}
<div class="container">
  <div id="header">
    <h1>Privacy Policy</h1>
  </div>
  <div id="content">
    <p>
      This website collects <strong>nothing</strong> from you. It is a static site that does not require any personal information to function.
    </p>

    <h3>Your privacy is our top priority</h3>
    <ul>
      <li>This site does <strong>not</strong> use tracking cookies for analytics or advertising.</li>
      <li>We do <strong>not</strong> collect any personal information (like your name, email, etc.).</li>
      <li>There are <strong>no ads</strong> or third-party analytics services watching you.</li>
    </ul>

    <h3>Questions?</h3>
    <p>
      Contact me at
      <code><a href="mailto:spacexplorer11@proton.me">spacexplorer11@proton.me</a></code>
      if you have any questions!
    </p>
  </div>
</div>
{% include footer.html %}
{% include startAtTop.html %}
</body>
</html>